<div class="header-area">
    <div class="bg-gradient bg-secondary w-100">
        <header>
            <nav class="navbar navbar-expand-lg navbar-custom">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html">ERGİNEER RESTORAN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="menu.html">Menü</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="reservation.html">Rezervasyon</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">İletişim</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div> 