* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{ 
    text-decoration: nano;
}

ul, li { 
    list-style-type: none;
}

clearfix::after{
    clear: both;
    content: "";
}

body{
    background-color: var(--cl-bg);
}